Repository stosmykj/ncprogramy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*.{ts,svelte}": ["eslint --fix", "prettier --write", "vitest related --run"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: bump version to 0.1.1
  package.json
  src-tauri/tauri.conf.json
  src/routes/+layout.svelte
  static/splashscreen.html
Due: eslint --fix, prettier --write, vitest related --run

feat: updgrades
  src-tauri/src/lib.rs
  src/components/Button.svelte
  src/components/ColumnManager/ColumnManagerDialog.svelte
  src/components/ColumnManager/ComputeExpressionBuilder.svelte
  src/components/ColumnManager/NewColumn.svelte
  src/components/EditableCell.svelte
  src/components/Editors/DateEditor.svelte
  src/components/Editors/DateTimeEditor.svelte
  src/components/Editors/DateTimeInput.svelte
  src/components/Editors/FileEditor.svelte
  src/components/Editors/Input.svelte
  src/components/Editors/NumberEditor.svelte
  src/components/Editors/Switch.svelte
  src/components/Editors/TextAreaEditor.svelte
  src/components/Editors/TextEditor.svelte
  src/components/FilterPopover.svelte
  src/components/Menu.svelte
  src/components/Table.svelte
  src/components/TableHeader.svelte
  src/components/TableRow.svelte
  src/langs/cs.json
  src/lib/computationService.ts
  src/lib/dataProcessor.svelte.ts
  src/lib/settingsProcessor.svelte.ts
  src/lib/tableColumnProcessor.svelte.ts
  src/models/dbProgram.ts
  src/models/dbTableColumn.ts
  src/models/icons.ts
  src/models/program.ts
  src/models/tableColumn.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/styles/main.css
  svelte.config.js
  vite.config.js
Due: eslint --fix, prettier --write, vitest related --run

feat: table scrolling when needed
  src/components/Table.svelte
  src/components/TableCell.svelte
Due: eslint --fix, prettier --write, vitest related --run

feat: file preview keyboard handling
  src/components/FilePreview.svelte
  src/components/TableCell.svelte
Due: eslint --fix, prettier --write, vitest related --run

feat: import files
  src-tauri/capabilities/default.json
  src/lib/importProcessor.svelte.ts
Due: eslint --fix, prettier --write, vitest related --run

feat: change to file handling
  src/components/EditableCell.svelte
  src/components/Editors/FileEditor.svelte
  src/components/Editors/NumberEditor.svelte
  src/components/Editors/TextEditor.svelte
  src/lib/dataProcessor.svelte.ts
  src/lib/fileStorageProcessor.ts
  src/lib/importProcessor.svelte.ts
  src/styles/main.css
Due: eslint --fix, prettier --write, vitest related --run

feat: backing up
  src-tauri/capabilities/default.json
  src/components/Menu.svelte
  src/lib/backupProcessor.ts
  src/models/icons.ts
  src/routes/+layout.svelte
Due: eslint --fix, prettier --write, vitest related --run

feat: backup import + some fixes
  src/components/BackupManager.svelte
  src/components/ColumnManager/ColumnManagerDialog.svelte
  src/components/Menu.svelte
  src/components/TableCell.svelte
  src/lib/backupProcessor.ts
  src/lib/formattingProcessor.svelte.ts
  src/lib/settingsProcessor.svelte.ts
  src/routes/+page.svelte
Due: eslint --fix, prettier --write, vitest related --run

fix: permissions
  src-tauri/capabilities/default.json
Due: prettier --write

feat: refactoring programs storage
  src-tauri/src/lib.rs
  src/__tests__/lib/validation/programSchema.test.ts
  src/components/Dashboard.svelte
  src/components/EditableCell.svelte
  src/components/FormattingRulesEditor.svelte
  src/components/Import.svelte
  src/components/Menu.svelte
  src/components/Table.svelte
  src/components/TableCell.svelte
  src/lib/backupProcessor.ts
  src/lib/dataProcessor.svelte.ts
  src/lib/formattingProcessor.svelte.ts
  src/lib/importProcessor.svelte.ts
  src/lib/validation/programSchema.ts
  src/lib/validation/programValidator.ts
  src/models/dbProgram.ts
  src/models/dbTableColumn.ts
  src/models/program.ts
  src/models/tableColumn.ts
  src/routes/+page.svelte
Due: eslint --fix, prettier --write, vitest related --run

feat: backing up + changes/fixes
  src/components/BackupManager.svelte
  src/components/ColumnManager/ColumnManagerDialog.svelte
  src/components/ColumnManager/ComputeExpressionBuilder.svelte
  src/components/Dashboard.svelte
  src/components/InitialSetup.svelte
  src/components/LegacyImportDialog.svelte
  src/components/Table.svelte
  src/components/TableHeader.svelte
  src/components/TopBar.svelte
  src/lib/backupProcessor.ts
  src/lib/dataProcessor.svelte.ts
  src/lib/legacyImportProcessor.ts
  src/lib/settingsProcessor.svelte.ts
  src/models/icons.ts
  src/routes/+page.svelte
Due: eslint --fix, prettier --write, vitest related --run

feat: some fixes
  src-tauri/tauri.conf.json
  src/components/FilePreview.svelte
  src/components/TableCell.svelte
  src/components/Toast.svelte
  src/routes/+page.svelte
  src/styles/main.css
Due: eslint --fix, prettier --write, vitest related --run

feat: make backup colors indicator check bigger
  src/components/TopBar.svelte
Due: eslint --fix, prettier --write, vitest related --run

feat: logging
  src/components/ColumnManager/ColumnManagerDialog.svelte
  src/components/ColumnManager/ComputeExpressionBuilder.svelte
  src/components/EditableCell.svelte
  src/components/Editors/FileEditor.svelte
  src/components/FilePreview.svelte
  src/components/FormattingRulesEditor.svelte
  src/components/FullFilePreviewDialog.svelte
  src/components/LogManager.svelte
  src/components/Table.svelte
  src/components/TableHeader.svelte
  src/components/Toast.svelte
  src/components/TopBar.svelte
  src/lib/backupProcessor.ts
  src/lib/dataProcessor.svelte.ts
  src/lib/database.ts
  src/lib/errorHandler.ts
  src/lib/fileStorageProcessor.ts
  src/lib/formattingProcessor.svelte.ts
  src/lib/legacyImportProcessor.ts
  src/lib/logger.ts
  src/lib/settingsProcessor.svelte.ts
  src/lib/updater.svelte.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/styles/main.css
Due: eslint --fix, prettier --write, vitest related --run

feat: remove husky
  .husky/pre-commit
  bun.lock
  package.json
Due: prettier --write

fix: ssr
  src/lib/backupProcessor.ts
  src/lib/logger.ts
Due: eslint --fix, prettier --write, vitest related --run

chore: bump version to 0.2.0
  package.json
  src-tauri/tauri.conf.json
  static/splashscreen.html
Due: prettier --write

fix: formating rules editor should show correct columns
  src/components/FormattingRulesEditor.svelte
Due: eslint --fix, prettier --write, vitest related --run

chore: bump version to 0.2.1
  package.json
  src-tauri/tauri.conf.json
  static/splashscreen.html
Due: prettier --write

feat: gcode editor & visualiser
  bun.lock
  package.json
  src/components/ColumnManager/ColumnManagerDialog.svelte
  src/components/EditableCell.svelte
  src/components/Editors/GCodeFileEditor.svelte
  src/components/GCodeEditor.svelte
  src/components/GCodeEditorDialog.svelte
  src/components/GCodePreview.svelte
  src/components/Menu.svelte
  src/components/TableCell.svelte
  src/lib/dataProcessor.svelte.ts
  src/lib/gcode/commands.ts
  src/lib/gcode/lexer.ts
  src/lib/gcode/monaco-config.ts
  src/lib/gcode/monaco-setup.ts
  src/lib/gcode/parser.ts
  src/lib/gcode/toolpath.ts
  src/lib/gcode/validator.ts
  src/lib/settingsProcessor.svelte.ts
  src/models/file.ts
  src/models/icons.ts
  src/models/tableColumn.ts
  src/routes/+page.svelte
Due: eslint --fix, prettier --write, vitest related --run

feat: g-code snippets
  src/components/GCodeEditor.svelte
  src/components/SnippetsManager/SnippetEditor.svelte
  src/components/SnippetsManager/SnippetsManagerDialog.svelte
  src/lib/gcode/monaco-config.ts
  src/lib/settingsProcessor.svelte.ts
  src/lib/snippetsProcessor.svelte.ts
  src/models/icons.ts
  src/models/snippet.ts
  src/routes/+page.svelte
Due: eslint --fix, prettier --write, vitest related --run

fix build
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: prettier --write

chore: bump version to 0.3.0
  package.json
  src-tauri/tauri.conf.json
  static/splashscreen.html
Due: prettier --write

feat: allow changing column type when editing
  src/components/ColumnManager/ColumnManagerDialog.svelte
  src/lib/tableColumnProcessor.svelte.ts
  src/models/dbTableColumn.ts
  src/models/tableColumn.ts
Due: eslint --fix, prettier --write, vitest related --run

feat: add MM/DD placeholders for incremental patterns
  src/lib/dataProcessor.svelte.ts
Due: eslint --fix, prettier --write, vitest related --run

feat: improve zoom support
  src/components/BackupManager.svelte
  src/components/ColumnManager/ComputeExpressionBuilder.svelte
  src/components/ConditionBuilder.svelte
  src/components/EditableCell.svelte
  src/components/Editors/NumberEditor.svelte
  src/components/Editors/TextAreaEditor.svelte
  src/components/Editors/TextEditor.svelte
  src/components/FilterPopover.svelte
  src/components/FormattingRulesEditor.svelte
  src/components/FullFilePreviewDialog.svelte
  src/components/GCodeEditor.svelte
  src/components/GCodeEditorDialog.svelte
  src/components/GCodePreview.svelte
  src/components/InitialSetup.svelte
  src/components/KeyboardShortcut.svelte
  src/components/KeyboardShortcuts.svelte
  src/components/LegacyImportDialog.svelte
  src/components/LogManager.svelte
  src/components/Menu.svelte
  src/components/QuickSearch.svelte
  src/components/SnippetsManager/SnippetEditor.svelte
  src/components/SnippetsManager/SnippetsManagerDialog.svelte
  src/components/TableHeader.svelte
  src/components/TableRow.svelte
  src/components/TopBar.svelte
  src/components/UpdateDialog.svelte
  src/lib/dateFormatter.svelte.ts
  src/lib/settingsProcessor.svelte.ts
  src/models/icons.ts
  src/routes/+layout.svelte
  src/styles/main.css
Due: eslint --fix, prettier --write, vitest related --run

feat: add program edit dialog with keyboard shortcuts
  src/components/ProgramDialog.svelte
  src/components/Table.svelte
  src/components/TableCell.svelte
  src/lib/programDialogState.svelte.ts
Due: eslint --fix, prettier --write, vitest related --run

feat: improve file editor focus and keyboard handling
  src/components/Editors/FileEditor.svelte
  src/components/Editors/GCodeFileEditor.svelte
Due: eslint --fix, prettier --write, vitest related --run

style: add Button focus indicator and tabIndex support
  src/components/Button.svelte
Due: eslint --fix, prettier --write, vitest related --run

fix: DatePicker autofocus timing
  src/components/DatePicker.svelte
Due: eslint --fix, prettier --write, vitest related --run

fix: cross-platform file opening in FilePreview
  src/components/FilePreview.svelte
Due: eslint --fix, prettier --write, vitest related --run

chore: add column settings database migration
  src-tauri/src/lib.rs
Due: none

docs: update roadmap keyboard navigation info
  ROADMAP_TODO.md
Due: prettier --write

chore: bump version to 0.4.0
  package.json
  src-tauri/tauri.conf.json
  static/splashscreen.html
Due: prettier --write

refactor: unified design system with CSS custom properties
  bun.lock
  src/components/BackupManager.svelte
  src/components/Button.svelte
  src/components/ColumnManager/ColumnManagerDialog.svelte
  src/components/ColumnManager/ComputeExpressionBuilder.svelte
  src/components/ConditionBuilder.svelte
  src/components/DatePicker.svelte
  src/components/EditableCell.svelte
  src/components/Editors/FileEditor.svelte
  src/components/Editors/GCodeFileEditor.svelte
  src/components/Editors/NumberEditor.svelte
  src/components/Editors/TextAreaEditor.svelte
  src/components/Editors/TextEditor.svelte
  src/components/FilePreview.svelte
  src/components/FilterPopover.svelte
  src/components/FormattingRulesEditor.svelte
  src/components/FullFilePreviewDialog.svelte
  src/components/GCodeEditor.svelte
  src/components/GCodeEditorDialog.svelte
  src/components/GCodePreview.svelte
  src/components/InitialSetup.svelte
  src/components/KeyboardShortcut.svelte
  src/components/KeyboardShortcuts.svelte
  src/components/LegacyImportDialog.svelte
  src/components/LogManager.svelte
  src/components/Menu.svelte
  src/components/ProgramDialog.svelte
  src/components/QuickSearch.svelte
  src/components/SnippetsManager/SnippetEditor.svelte
  src/components/SnippetsManager/SnippetsManagerDialog.svelte
  src/components/Table.svelte
  src/components/TableCell.svelte
  src/components/TableHeader.svelte
  src/components/TableRow.svelte
  src/components/TopBar.svelte
  src/components/UpdateDialog.svelte
  src/routes/+page.svelte
  src/styles/main.css
Due: eslint --fix, prettier --write, vitest related --run

fix: code quality improvements - SQL bug, type safety, error handling
  src/components/FilePreview.svelte
  src/components/GCodeEditor.svelte
  src/components/GCodePreview.svelte
  src/components/LogManager.svelte
  src/lib/dataProcessor.svelte.ts
  src/lib/settingsProcessor.svelte.ts
  src/lib/tableColumnProcessor.svelte.ts
  src/models/file.ts
  src/models/settings.ts
  src/models/tableColumn.ts
Due: eslint --fix, prettier --write, vitest related --run

fix: resolve all 99 svelte-check errors and 40 warnings
  src/__tests__/lib/toast.test.ts
  src/__tests__/models/program.test.ts
  src/components/BackupManager.svelte
  src/components/Button.svelte
  src/components/ConditionBuilder.svelte
  src/components/DatePicker.svelte
  src/components/Editors/TextEditor.svelte
  src/components/FilePreview.svelte
  src/components/FilterPopover.svelte
  src/components/FormattingRulesEditor.svelte
  src/components/GCodeEditor.svelte
  src/components/GCodeEditorDialog.svelte
  src/components/GCodePreview.svelte
  src/components/Icon.svelte
  src/components/KeyboardShortcuts.svelte
  src/components/LogManager.svelte
  src/components/TableHeader.svelte
  src/components/UpdateDialog.svelte
  src/lib/gcode/commands.ts
  src/lib/gcode/monaco-config.ts
  src/lib/gcode/parser.ts
  src/models/formattingRule.ts
  src/models/icons.ts
  src/models/tableColumn.ts
  vite.config.js
Due: eslint --fix, prettier --write, vitest related --run

fix: column reordering refresh and fullscreen crash
  src/components/GCodeEditor.svelte
  src/components/TableHeader.svelte
Due: eslint --fix, prettier --write, vitest related --run

fix: logic bugs - race conditions, template syntax, null guards, cleanup
  src/components/ColumnManager/ColumnManagerDialog.svelte
  src/components/EditableCell.svelte
  src/components/GCodeEditorDialog.svelte
  src/components/ProgramDialog.svelte
  src/components/QuickSearch.svelte
  src/components/Table.svelte
  src/components/TableCell.svelte
  src/lib/backupProcessor.ts
  src/lib/dataProcessor.svelte.ts
  src/lib/logger.ts
  src/lib/settingsProcessor.svelte.ts
Due: eslint --fix, prettier --write, vitest related --run

fix: cleanup, logging, and resource management improvements
  src/components/BackupManager.svelte
  src/components/ColumnManager/ComputeExpressionBuilder.svelte
  src/components/DatePicker.svelte
  src/components/GCodeEditorDialog.svelte
  src/components/GCodePreview.svelte
  src/components/TableHeader.svelte
  src/lib/gcode/monaco-config.ts
  src/lib/gcode/monaco-setup.ts
  src/lib/toast.svelte.ts
Due: eslint --fix, prettier --write, vitest related --run
